<form>
  <section>
    <div class="md-input-group">
      <md-input placeholder="First Name"></md-input>
      <md-input placeholder="Middle Name"></md-input>
      <md-input placeholder="Last Name"></md-input>
    </div>
    <div class="md-input-duo">
      <md-input placeholder="Nickname"></md-input>
      <md-input type="date" placeholder="DOB" align="end"></md-input>
    </div>
    <div>
      <md-input placeholder="Email"></md-input>
    </div>
    <div>
      <md-radio-group>
        <md-radio-button value="Male">Male</md-radio-button>
        <md-radio-button value="Female">Female</md-radio-button>
      </md-radio-group>
    </div>
  </section>
  <section>
    <div>
      <md-input placeholder="Phone"></md-input>
    </div>
    <div>
      <md-input placeholder="Address"></md-input>
    </div>
    <div>
      <md-input placeholder="Address2"></md-input>
    </div>
    <div class="md-input-group">
      <md-input placeholder="City"></md-input>
      <md-input placeholder="State"></md-input>
      <md-input placeholder="Zip"></md-input>
    </div>
  </section>
</form>